# Lift the CLI engines to the top level so they are executable
# Hoists all ESLint core, plugins, and parsers
public-hoist-pattern[]=*eslint*

# Hoists Prettier core and the Tailwind plugin
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*prettier-plugin-tailwindcss*

# Hoists TypeScript for the IDE
public-hoist-pattern[]=*typescript*

# Ensures peer dependencies (required by React plugins) are auto-installed
auto-install-peers=true